@import url(./base.css);

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10rem 2rem 1fr 2rem;
}

/* CABECERA */

header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
}

header > nav > menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

header > nav > menu > li {
  padding-right: 1rem;
}

/* MENU PRODUCTOS */

nav {
  grid-area: nav;
}

body > nav > menu {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
}

/* PRODUCTOS */

main {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

main > article {
  margin: 1rem;
}

/* PIE DE PAGINA */

footer {
  grid-area: footer;
}

/* VERSION ESCRITORIO */

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
    grid-template-columns: auto;
    grid-template-rows: 5rem 1fr 2rem;
  }

  /* CABECERA */

  header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
  }

  /* MENU PRODUCTOS */

  nav {
    grid-area: nav;
  }

  body > nav > menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 10rem;
  }

  /* PRODUCTOS */

  main {
    grid-area: main;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  /*PIE DE PAGINA */

  footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer > a {
    padding-right: 2rem;
  }
}
