* {
  font-family: sans-serif;
  margin: 0;
}
header {
  background-color: rgba(99, 149, 236, 255);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
h2 {
  color: rgba(99, 149, 236, 255);
  padding-bottom: 1rem;
}

section {
  margin: 3rem;
}
li {
  padding: 0.5rem;
  list-style-type: circle;
}
.importante {
  font-weight: bold;
  text-decoration-line: underline;
}

tr,
th,
td {
  padding: 1rem;
}

thead > tr:first-of-type {
  background-color: rgba(99, 149, 236, 255);
  color: white;
}
tr:nth-child(even) {
  background: rgba(171, 198, 251, 255);
}
tr:nth-child(odd) {
  background: rgba(215, 229, 255, 255);
}
tbody tr:nth-child(1) th,
tbody tr:nth-child(3) th {
  background-color: rgba(99, 149, 236, 0.5);
}
tbody tr:nth-child(2) th,
tbody tr:nth-child(4) th {
  background-color: rgba(99, 158, 236, 0.5);
}

#descanso {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
